.portal{
    background-color: rgb(232, 218, 192);
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    width: 60%;
    opacity: 0.9;
}
@media screen and (max-width: 992px) {
        .portal{
            width: 80%;
        }
      }
@media screen and (max-width: 768px) {
    .portal{
        width: 100%;
    }
  }